footer {
    z-index: 98;
    padding: 30px 0;
    color: #ffffff;
    position: relative;
    background-color: #000000;

    .map, .socials {
        flex: 1;
        padding: 0 50px;
    }

    .logo {
        left: 50%;
        top: -65px;
        margin-left: -92px;
        position: absolute;
    }

    h3 {
        font-size: 24px;
        text-align: center;
        letter-spacing: 10px;
    }

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: center;
        
        a {
            color: #838383;
            text-decoration: none;

            li {
                padding: 0 15px;
                margin-bottom: 3px;
                letter-spacing: 5px;
            }
            li:hover {
                color: #000000;
                background-color: #ffffff;
            }
        }
    }
}